$color-background: #161c2e;
$color-black: #252e42;
$color-white: #ffffff;
$color-orange: #ff8469;
$color-orange-hover: #d95133;
$color-grey: #4f5565;
$color-blue: #00b2ff;
$color-text: #666666;
$color-error: #ff0000;
$color-grey-icon: #cdcdcd;
$shadow-inset-btn: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffffff;
$main-font: "Montserrat", "Arial", sans-serif;
$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 740px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
